h1{
    text-align: center;
    color: #10375c;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    line-height: 2;
}
 table{
    width: 60%;
}
body{
    background: url("wall3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}