h1{
    text-align: center;
    color: #10375c;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    line-height: 2;
}
 table{
    width: 60%;
}
body{
    background: url("wall3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#content{
    width: 70%;
    margin-left: 15%;
    background-color: #21ABA5;
    opacity: 70%;
    margin-top: 2%;
    max-height:260PX;
    overflow: hidden;
    padding: 2%;
    border-radius: 10PX;
    box-shadow: 5px 10px 10px;
    color: black;
    font-size: 18PX;
}
#content.open{
    max-height: 2200px;
}
.for{
    margin-top: 5%;
    overflow: auto;
    height: 100px;
    padding: 2%;
}
#names{
    background-color: white;
    margin-top: 10%;
    opacity: 200%;
    height: 450px;
    border: 2px solid grey;
    border-radius: 3%;
    box-shadow: 5px 20px 20px;

}
.form-label, .form-check-label{
    font-size: 20px;
    font-weight: bold;
}
a{
    margin-left: 45%;
    border: 1px solid rgb(56, 54, 54);
    width: 400px;
    padding: 2%;
    background: #29de92;
    color: black;
    font-weight: bolder;
    border-radius: 10px;
}
#btn{
    width: 15%;
    border-radius: 5px;
    margin-left: 1%;
    background-color: aquamarine;
    border: none;
}
th{
    text-decoration: underline;
}